.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .home-container h1 {
    margin-bottom: 20px;
  }
  
  .home-container button {
    margin-top: 10px;
  }
  